node_modules
.pnpm-store

dist
build
coverage

.git
.gitignore
.github

.env
.env.*
!.env.example

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

.DS_Store
.vscode
.idea

Dockerfile*
docker-compose*.yml
docker-compose*.yaml

*.log
tmp
.cache
